
body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    list-style: none;
}

.gallery-item{
    border: 1px solid rgba(128, 128, 128, 1);
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 200px;
}

.gallery-item a{
    width: 100%;
    height: 75%;
}

.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item .info{
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 24px;
    padding-top: 4px;
}

.gallery-item .info .title{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.gallery{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.search-div{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 32px;
}

.search-div input{
    width: 272px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    margin-right: 8px;
    outline: none;
}

.search-div input:focus, input:hover{
    border: 1px solid black;
}
.search-div input::placeholder{
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(128, 128, 128, 1);
}

.search-div button{
    width: 91px;
    height: 40px;
    background-color: rgba(78, 117, 255, 1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms ease-in-out;
}

.search-div button:hover, .search-div button:focus{
    background-color: rgba(108, 140, 255, 1);
}

.loader {
    display: none;
}

.loader.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}